body,
html {
  background-image: url("styleImages/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Cambria, Georgia, serif;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-bottom: 60px;
}

#system {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  margin-top: 50px;
  text-align: center;
}

.logo img {
  width: 300px;
  height: auto;
}

#registerForm {
  max-width: 350px;
  text-align: center;
  margin: 40px auto 50px auto;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#registerForm h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 30px;
  text-align: left;
}

.input-group label {
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

.input-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.input-group input::placeholder {
  color: #a9a9a9;
}

.password-container {
  position: relative;
}

.password-container i {
  color: #a9a9a9;
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

button {
  padding: 14px 28px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Cambria, Georgia, serif;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  display: block;
  margin: 20px auto 0;
}

button:hover {
  background-color: #0056b3;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 123, 255, 0.3);
}

p {
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
